<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>InstaClone</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>

<div class="container">
    <br /><br />
    <h1>Photo Feed</h1>
    <div class="row">
        <div class="col-md-12" th:each="photo : ${myimages}">
            <table class="table table-hover">
                <tr>
                    <td>
                        <a th:href="'/img/' + ${photo.id}" >
                            <img class="img-responsive" th:utext="${photo.image}" style="position:absolute;"/>
                        </a>
                    </td>
                    <td>
                        <p th:text = "${#dates.format(photo.createdAt, 'hh:mm MM-dd-yyyy')}"/>
                    </td>
                    <td>
                        <a th:text="${photo.username}" th:href="@{'/profile/' + ${photo.userid}}"></a>
                    </td>
                </tr>
            </table>
            <br/>
        </div>
        <br/>
    </div>
    <div th:if="${emptymsg}">
        <h4>No results found</h4>
    </div>
    <nav aria-label="Page navigation">
        <ul class="pagination pagination-lg">
            <li>
                <a th:href="'/feed/'+${valuePrev}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <th:block th:each="v : ${values}">
                <li >
                    <a th:text="${v}" th:href="'/feed/' + ${v}"/>
                </li>
            </th:block>
            <li >
                <a th:href="'/feed/'+${valueNext}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div><!-- /.container -->

<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>