<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>InstaClone</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>

<div class="container">
    <br /><br />
    <h1 th:text="'Image Display'"></h1>
    <div class="row">
    <div th:object="${images}">
            <img th:utext="*{image}" style="position:absolute; width: 300px;" />
            <a th:if="${like}" th:href="'/incrementCounter/'+*{id}">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-thumbs-up"/><p th:text="'Like'"/>
                </button>
            </a>
            <a th:unless="${like}" th:href="'/decrementCounter/'+*{id}">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-thumbs-down"/><p th:text="'Unlike'"/>
                </button>
            </a>
            <p class="liketext" th:text="'Likes: ' + *{likecounter}"/>
            <br/><br/>
            <div th:each="c : ${comments}">
                <a th:href="'/profile/' + ${c.userid}" th:text="${c.username}"></a> says:
                <br/>
                <p th:text="${c.text}"/>
            </div>
    </div>
    <form method="post" th:action="@{'/newComment/'+${images.id}}" th:object="${newcomment}">
        <div class="form-group">
            <input type="text" class="form-control" th:field="*{text}" />
        </div>
        <button type="submit" class="btn btn-default">Submit Comment</button>
    </form>

        <br/><br/> <br/><br/>

    </div>
</div><!-- /.container -->

<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>