<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org " xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>InstaClone</title>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<th:block th:replace="base :: nav"></th:block>

<div class="container">
    <br /><br />
    <h1 th:text="${user} + '&rsquo;s Profile'"></h1>
    <br/>
    <h2 th:text="' ' + ${user} + '&rsquo;s Photos'"></h2>
    <div class="row">
        <div class="col-md-3" th:each="photo : ${myimages}">
            <a th:href="'/img/' + ${photo.id}" >
                <img class="img-responsive" th:utext="${photo.image}" style="position:absolute;"/>
            </a>
            <br/><br/>
        </div>
    </div>
    <br/>
    <h2 th:text="'People ' + ${user} + ' Follows'"></h2>
    <div th:each = "person : ${followList}" >
        <a th:text = "${person.username}" th:href="@{'/profile/' + ${person.id}}"></a>
    </div>
    <div th:if="${followcheck}">
        <a th:href="@{'/follow/' + ${id}}">Follow This Person</a>
    </div>

</div>
<th:block th:replace="base :: footlinks"></th:block>
</body>
</html>